* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-content: center;
}


.page {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    grid-gap: 8px;
    padding: 5% 10%;
}


div {
    background-color: white;
    border-bottom: 3px solid orangered;
    font-size: 13px;
    position: relative;
    padding: 15px;
}

h5 {
    font-size: 16px;
}

h6 {
    color: gray;
    font-size: 14px;
}

p {
    font-weight: 700;
}

nav {
    display: inline;
}

img {
    opacity: 35%;
    width: 20px;
    filter: invert(50%);
    position: absolute;
    right: 0;
    bottom: 0;
}

.img-2 {
    right: 7px;
    bottom: 0;
}


.osama-m {
    grid-column: span 2;
}

.shady-n {
    grid-row: span 3;
    background-color: black;
    color: white;
}

.mohamed-i {
    grid-row: span 2;
}


.mahmoud-m {
    background-color: black;
    color: white;
    grid-column: span 2;
}

.Ezz-e {
    grid-column: span 2;
}

.ibrahim-s {
    background-color: black;
    color: white;
}